zig-cache/
releases/
/a.sld
/advai.sld
/assets/nim/
/pdfstuff/*.png
/pdfstuff/*.pdf
/pdfstuff/advai_real/
/pdfstuff/new/
/pdfstuff/newnew/
/qpro_helpers.sld
/sched_test/
/shit
/shit.zig
/src/start_windows_tls.zig
/t.sld
/x.sld
/zig-out/
